beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
joblib==1.4.2
numpy==2.2.3
PySocks==1.7.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools==76.0.0
soupsieve==2.6
threadpoolctl==3.6.0
typing_extensions==4.12.2
urllib3==2.3.0
